template(name="studentList")
     .jumbotron.container-fluid
        .panel.panel-primary
            if currentUser
                +permit
            else
                .alert-warning אנא התחבר על מנת לגשת למידע
            .panel-heading.text-right(data-toggle="collapse" data-target="#students" href) תלמידים
            .panel-body(id="students")
                h2(dir="rtl").text-center
                    | רשימת התלמידים במערכת

                +reactiveTable(collection=students fields=tableFields)
//            table(class='table table-striped')
                thead
                    td שם משפחה
                    td שם פרטי
                    td טלפון
                    td מיקום
                    td כיתה
                tbody
                    each student in students
                        tr
                            td
                                a(href="" rel="tag")= student.lname
                            td
                                a(href="" rel="tag")= student.fname
                            td
                                a(href="" rel="tag")= student.phone
                            td
                                a(href="" rel="tag")
                            td
                                .col-md-1
                                    span(class="label label-info pull-right")= student.class